# Домашнее задание к лекции "Статистика. Практика"
Задание 1
Вернемся к набору данных о видеоиграх.

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?
2) Критикам нравятся больше игры на PC или на PS4?
3) Критикам больше нравятся стрелялки или стратегии?

Для каждого вопроса:

сформулируйте нулевую и альтернативную гипотезы;
выберите пороговый уровень статистической значимости;
опишите полученные результаты статистического теста.

In [ ]:
import pandas as pd
import scipy as sp

In [ ]:
df = pd.read_csv('vgsales.csv')
df

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.dropna()
df.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000,6825.000000
mean,2007.436777,0.394484,0.236089,0.064158,0.082677,0.777590,70.272088,28.931136,174.722344
std,4.211248,0.967385,0.687330,0.287570,0.269871,1.963443,13.868572,19.224165,587.428538
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2004.000000,0.060000,0.020000,0.000000,0.010000,0.110000,62.000000,14.000000,11.000000
50%,2007.000000,0.150000,0.060000,0.000000,0.020000,0.290000,72.000000,25.000000,27.000000
75%,2011.000000,0.390000,0.210000,0.010000,0.070000,0.750000,80.000000,39.000000,89.000000
max,2016.000000,41.360000,28.960000,6.500000,10.570000,82.530000,98.000000,113.000000,10665.000000

Средняя оценка критиков по всем играм = 70

H0: средняя удовлетворенность критиками спортивными играми не отличается от других

H1: средняя удовлетворенность критиками спортивными играми отличается от оценок других игр

In [ ]:
df_sport = df[df['Genre'] == 'Sports']
df_sport.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
13,Wii Fit,Wii,2007.0,Sports,Nintendo,8.92,8.03,3.60,2.15,22.70,80.0,63.0,7.7,146.0,Nintendo,E
15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.01,8.49,2.53,1.77,21.79,80.0,33.0,7.4,52.0,Nintendo,E
77,FIFA 16,PS4,2015.0,Sports,Electronic Arts,1.12,6.12,0.06,1.28,8.57,82.0,42.0,4.3,896.0,EA Sports,E

In [ ]:
df_sport.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000,943.000000
mean,2006.812301,0.485175,0.262386,0.036628,0.099735,0.884252,74.170732,23.345705,45.281018
std,4.059768,1.572379,1.168906,0.242133,0.355126,3.171441,13.187667,13.844270,93.309239
min,1998.000000,0.000000,0.000000,0.000000,0.000000,0.010000,19.000000,4.000000,4.000000
25%,2003.000000,0.100000,0.010000,0.000000,0.010000,0.170000,68.000000,13.000000,8.000000
50%,2006.000000,0.210000,0.060000,0.000000,0.030000,0.390000,77.000000,21.000000,17.000000
75%,2010.000000,0.480000,0.200000,0.000000,0.080000,0.865000,83.000000,31.000000,41.000000
max,2016.000000,41.360000,28.960000,3.770000,8.450000,82.530000,98.000000,75.000000,1290.000000

In [ ]:
from scipy import stats as st
alpha = 0.05
result = st.ttest_1samp(df_sport['Critic_Score'], 70)

print(df_sport['Critic_Score'].mean())
print(result)

if result.pvalue < alpha: 
    print('Отвергаем нулевую гипотезу')
else:
    print('Не отвергаем нулевую гипотезу')

74.17073170731707
Ttest_1sampResult(statistic=9.71180901421307, pvalue=2.5779565637245234e-21)
Отвергаем нулевую гипотезу

In [ ]:
df_pc = df[df['Platform'] == 'PC'][['Critic_Score']]
df_pc

       Critic_Score
85             86.0
138            93.0
192            88.0
218            93.0
284            96.0
...             ...
16624          80.0
16644          51.0
16696          80.0
16700          61.0
16706          60.0

[651 rows x 1 columns]

In [ ]:
df_ps = df[df['Platform'] == 'PS4'][['Critic_Score']]
df_ps

       Critic_Score
42             97.0
77             82.0
92             83.0
94             85.0
105            87.0
...             ...
16137          66.0
16490          42.0
16503          70.0
16530          61.0
16534          51.0

[239 rows x 1 columns]

In [ ]:
st.ttest_ind(df_pc, df_ps, equal_var=False)

Ttest_indResult(statistic=array([3.98708715]), pvalue=array([7.98487489e-05]))

p-value меньше 0.01 - значимые различия

H0: оценки критиков для стрелялок не отличаются от оценок стратегий

H1: оценки критиков для стрелялок отличаются от оценок стратегий

In [ ]:
df_action = df[df['Genre'] == 'Action'][['Critic_Score']]
df_action

       Critic_Score
16             97.0
17             95.0
23             97.0
24             95.0
38             97.0
...             ...
16618          70.0
16624          80.0
16656          81.0
16667          46.0
16696          80.0

[1630 rows x 1 columns]

In [ ]:
df_strategy = df[df['Genre'] == 'Strategy'][['Critic_Score']]
df_strategy

       Critic_Score
218            93.0
582            82.0
1078           90.0
1095           86.0
1128           89.0
...             ...
16300          75.0
16423          76.0
16573          69.0
16644          51.0
16706          60.0

[267 rows x 1 columns]

In [ ]:
st.ttest_ind(df_pc, df_ps, equal_var=False)

Ttest_indResult(statistic=array([3.98708715]), pvalue=array([7.98487489e-05]))

pvalue меньше 0.01 - значимые различия

# Задание 2
Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные здесь) по признаку спама. Для этого:

1) Привидите весь текст к нижнему регистру;
2) Удалите мусорные символы;
3) Удалите стоп-слова;
4) Привидите все слова к нормальной форме;
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:

from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()

tfidf_matrix = tfidf.fit_transform(df.Message)

names = tfidf.get_feature_names()

tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

Можете поэкспериментировать с параметрами TfidfVectorizer;
6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите random_state=42. Используйте train_test_split;
7) Постройте модель логистической регрессии, укажите random_state=42, оцените ее точность на тестовых данных;
8) Опишите результаты при помощи confusion_matrix;
9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [ ]:
df = pd.read_csv('spam.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
df['Message'] = df['Message'].str.lower()
df

     Category                                            Message
0         ham  go until jurong point, crazy.. available only ...
1         ham                      ok lar... joking wif u oni...
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham  u dun say so early hor... u c already then say...
4         ham  nah i don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home?
5569      ham  pity, * was in mood for that. so...any other s...
5570      ham  the guy did some bitching but i acted like i'd...
5571      ham                         rofl. its true to its name

[5572 rows x 2 columns]

In [ ]:
import re
df['Message'] = df['Message'].apply(lambda x: re.sub('[\W_]+', ' ', x))
df

     Category                                            Message
0         ham  go until jurong point crazy available only in ...
1         ham                           ok lar joking wif u oni
2        spam  free entry in 2 a wkly comp to win fa cup fina...
3         ham       u dun say so early hor u c already then say
4         ham  nah i don t think he goes to usf he lives arou...
...       ...                                                ...
5567     spam  this is the 2nd time we have tried 2 contact u...
5568      ham               will ü b going to esplanade fr home
5569      ham  pity was in mood for that so any other suggest...
5570      ham  the guy did some bitching but i acted like i d...
5571      ham                          rofl its true to its name

[5572 rows x 2 columns]

In [ ]:
import nltk
#from nltk.corpus import stopwords
nltk.download('stopwords')
stopwords_set = set(stopwords.words('english'))
texts_splitted = [text.split() for text in df['Message']]
without_sw = [[word for word in text if word not in stopwords_set] for text in texts_splitted]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
#from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
wordnet_lemmatizer = WordNetLemmatizer()
lemmatized_text = [[wordnet_lemmatizer.lemmatize(word) for word in text] for text in without_sw]

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
df['Message'] = [' '.join(row) for row in lemmatized_text]
df

     Category                                            Message
0         ham  go jurong point crazy available bugis n great ...
1         ham                            ok lar joking wif u oni
2        spam  free entry 2 wkly comp win fa cup final tkts 2...
3         ham                u dun say early hor u c already say
4         ham                nah think go usf life around though
...       ...                                                ...
5567     spam  2nd time tried 2 contact u u 750 pound prize 2...
5568      ham                        ü b going esplanade fr home
5569      ham                               pity mood suggestion
5570      ham  guy bitching acted like interested buying some...
5571      ham                                     rofl true name

[5572 rows x 2 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
X = tfidf_matrix 
y = df['Category']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
model.score(X_test, y_test)

0.958732057416268

In [ ]:
y_pred = model.predict(X_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [ ]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)

array([[1445,    3],
       [  66,  158]])

 хорошее сообщение ошибочно 3 раза попало в спам, а спам 66 раз попал в хорошие

In [ ]:
df_new = df.iloc[y_test.index]
df_new= pd.DataFrame(df_new)
df_new['Calculate Category']=y_pred
df_new

,Category,Message,Calculate Category
3245,ham,squeeeeeze christmas hug u lik frndshp den hug...,ham
944,ham,also sorta blown couple time recently id rathe...,ham
1044,ham,mmm thats better got roast b better drink 2 go...,ham
2484,ham,mm kanji dont eat anything heavy ok,ham
812,ham,ring come guy costume gift future yowifes hint...,ham
...,...,...,...
2505,ham,hello boytoy made home constant thought love h...,ham
2525,spam,free entry 250 weekly comp send word win 80086...,spam
4975,ham,aiyo u poor thing u dun wan 2 eat u bathe already,ham
650,spam,1 000 cash 2 000 prize claim call09050000327 c...,spam
4463,ham,sorry flaked last night shit seriously goin ro...,ham

In [ ]:
df_new[df_new['Calculate Category'] != df_new['Category'] ]

,Category,Message,Calculate Category
2952,ham,hey free call,spam
881,spam,reminder downloaded content already paid goto ...,ham
1961,spam,guess somebody know secretly fancy wanna find ...,ham
3864,spam,oh god found number glad text back xafter msg ...,ham
2575,spam,next amazing xxx picsfree1 video sent enjoy on...,ham
...,...,...,...
4543,spam,freemsg hi baby wow got new cam moby wanna c h...,ham
752,spam,important customer service announcement premier,ham
309,spam,themob check newest selection content game ton...,ham
495,ham,free call,spam
305,spam,sm ac blind date 4u rodds1 21 aberdeen united ...,ham

Алексей, добрый день!

Отличная работа, гипотезы сформулированы и протестированы верно. Замечательно справились с моделью :)

У функций ttest_ind и ttest_1samp есть специальный параметр nan_policy, аргумент omit позволяет игнорировать пропуски и предварительно не удалять их специально: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

И я бы рекомендовал использовать критерий Уэлча для проверки двухвыборочных гипотез: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html (параметр equal_var). Вам в любом случае стоит предварительно проверять выборки на равенство вариаций при использовании критерия Стьюдента.

Для дальнейшего развития рекомендую вам изучить, как можно настраивать параметры модели , чтобы результаты были лучше. Для начала можно почитать вот эту статью: https://medium.com/@annabiancajones/sentiment-analysis-on-reviews-feature-extraction-and-logistic-regression-43a29635cc81 

В т.ч. можно оптимизировать модель под другую метрику качества (а не accuracy) при помощи функций GridSearchCV или RandomizedSearchCV, чтобы достигать цели уменьшения именно тех ошибок, которые она совершает больше всего.

Зачет!